*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 16px;
    

}

.card {
  width: 400px;
  background-color: white;
  border: 1px solid white;
  padding: 24px;
  text-align: center;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

main {
    /* width: 350px; */
    padding: 20px;
    background-color: white;
    border: 2px solid #333;
    border: 20px;
    text-align: center;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
    background-color: lightgrey;
}


h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: darkblue;
}

.profile-img-container {
  width: 100%;
  height: 250px;
  margin-bottom: 16px;
}
.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p {
    margin: 5px 0;
    font-size: 14px;
}


a {
    text-decoration: none;
    color: blue;
}
section:last-child {
    margin-top: 15px;
    font-size: 12px;
    color: gray;
}