.card-container{
 background-color: white;
            width: 400px;
            margin: 30px auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px white;
}
.profile-section{
    text-align:center;
}
.profile-img-container{
    width: 100px;
    height: 250px;
    margin: bottom 16px;
}
.profile-img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.profile-section>h2{
    margin
}